<div class="text-center">

  {{#each blogs as |blog| }}
  <h1>
    <a href="/update_delete/{{id}}">{{blog.title}}</a>
  </h1>
  {{/each}}
  <p></p>
  <p>
    <a href="/post" class="new">+ New Post</a>
  </p>
</div>

{{!-- <script src="/public/js/dashboard.js"></script> --}}