<div class="text-center">
    <h4>Title</h4>
    <p>Created by {{username}} on {{date_created}}</p>

    <textarea></textarea>

    <h4>Content</h4>
    <textarea> </textarea>

    <button class="upload-button">Upload</button>
</div>