<div class="text-center">
    <h4>Title</h4>
    <textarea id="title"></textarea>

    <h4>Content</h4>
    <textarea id="content"></textarea>
    <p></p>
    <button type="submit" class="btn btn-primary">Upload</button>
    <input type="hidden" id="userId" name="userId" value={{user_id}} />
</div>


<script src="/js/post.js"></script>